.header-container {
	width: 100vw;
    height: 10vh;
	display:grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
}

.header-logo {
    margin-left: 10rem;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10rem;
    align-items: center;
}

.nav {
    text-decoration: none;
/*     color: #FFFFFB; */
    font-size: 1.5rem;
    font-weight: 500;
}



